<h1>Counter</h1>

<div class="countdownHolder"
  id="{{elementIds.TimerDisplay}}">
  <span class="position" *ngFor="let d of (state$ | async).count | toArray">
    <span class="digit static">
      {{d}}
    </span>
  </span>
</div>

<button type="button"
  id="{{elementIds.BtnStart}}"
  (click)="btnStart.next($event)">
  Start
</button>

<button type="button"
  id="{{elementIds.BtnPause}}"
  (click)="btnPause.next($event)">
  Pause
</button>

<br/>

<button type="button"
  id="{{elementIds.BtnSetTo}}"
  (click)="btnSetTo.next($event)">
  Set To
</button>

<input
  id="{{elementIds.InputSetTo}}"
  type="number" min=0
  value="{{initialSetToValue$ | async}}"
  (input)="inputSetTo.next($event)"/>

<button type="button"
  id="{{elementIds.BtnReset}}"
  (click)="btnReset.next($event)">
  Reset
</button>

<br/>

<button type="button"
  id="{{elementIds.BtnUp}}"
  (click)="btnUp.next($event)">
  Count Up
</button>

<button type="button"
  id="{{elementIds.BtnDown}}"
  (click)="btnDown.next($event)">
  Count Down
</button>

<br/>

<label>
  Tick Speed
</label>
<input id="{{elementIds.InputTickSpeed}}"
  type="number" min=0
  value="{{(state$ | async).tickSpeed}}"
  (input)="inputTickSpeed.next($event)"/>

<label>
  Count Diff
</label>
<input id="{{elementIds.InputCountDiff}}"
  type="number" min=0
  value="{{(state$ | async).countDiff}}"
  (input)="inputCountDiff.next($event)"/>
